# Mod1 Microsoft Movies Project Draft Notebook

## Getting Started

Based on the Microsoft's interest in seeing new players create original content and making moves into the movie industry, I've drafted several general questions that they might consider even before approaching the data. Generally, an organization like Microsoft should perform SWOT (Strengths, Weaknesses, Opportunities, and Threats) analysis before diving head first into a new product (like movies). 

Without broadening the scope too much, brief items in these categories might include the following:

1. **Strengths** - technology company, Office suite dominance, widespread brand recognition (e.g., Xbox)
2. **Weaknesses** - Little artistic experience, no Hollywood experience
3. **Opportunities** - A lot of stay-at-home TV watching, previous competitors' success rates/surface-level data
4. **Threats** - Competition from big-name, thoroughly experienced companies like Netflix, Amazon, HBO, Disney, etc.; external blocks (theaters, distributors, platforms, pandemics)

### Analysis Question Brainstorming

1. Scope - does box office data capture the full extent of the potential opportunity available in the movie industry? Are we looking at domestic or global success? What specific factors are contributing to Microsoft's desire to make moves into the industry, and what other relevant data should be made available?

2. Accuracy - is the data we have accurate? Specifically, how recently was it updated? Importantly, given the new covid-19 reality, are there enough localized intervals of data to be able to understand how both the closing and opening of governments has impacted / will impact the industry before making such a large investment?

3. Delivery - What is the breakdown of delivery methods for new movies? Specifically, do most come out to streaming subscriptions, pay-to-download, straight-to-DVD, big-name theaters (AMC, Regal...), local theaters? Is there a higher ROI on any of these?

4. Consumer - Who is the target audience? What age group spends the most money? What age ratings of movies have the most views? What is the correlation breakdown for movie ratings vs. views vs. medium presented? In terms of original content production, what is the most effective way to reach them? I.e., where do they/would they watch movies (phone, tablet, TV, theater, etc.) and what is the optimal content length for each of those media

5. Content - Who are the most successful actors in the industry, and do certain of them perform better together? What is the best "product mix" of genres to start out with? What optimal movie length has the highest rating (is there a correlation)? Within those genres, who are the most successful directors in terms of volume of output, highest ratings? What is their value in terms of increased rating per dollar spent on them? I.e., which directors would provide the biggest ROI?

6. Cost - What is the optimal amount to spend? What is the general range of funds spent on generating successful movies? Is there a correlation between dollars spent increase in rating?

In [3]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [7]:
pd.read_csv("zippedData/bom.movie_gross.csv.gz")

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [9]:
BOMGrossdf = pd.read_csv("zippedData/bom.movie_gross.csv.gz")

In [14]:
BOMGrossdf.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [17]:
BOMGrossdf.row()

AttributeError: 'DataFrame' object has no attribute 'row'